{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <h2 class="archive__item-title no_toc" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a><a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% include page__meta.html type=include.type %}

    {% if post.project_path %}
      <a href="{{ post.url | relative_url }}" rel="permalink"><span class="sr-only">Permalink</span>
        <div style="display: flex; justify-content: center;">
          {% include {{post.project_path}} %}
        </div>
      </a>
    {% else %}
      {% if include.type == "grid" and teaser %}
        <div class="archive__item-teaser">
          <a href="{{ post.url | relative_url }}" rel="permalink"><span class="sr-only">Permalink</span><img src="{{ teaser | relative_url }}" alt=""></a>
        </div>
      {% endif %}

      {% if include.type == "list" and teaser %}
      <div class="thumbnail-container">
        <a href="{{ post.url | relative_url }}" rel="permalink"><span class="sr-only">Permalink</span><img src="{{ teaser | relative_url }}" alt=""></a>
      </div>
      {% endif %}

    {% endif %}
  </article>
</div>
