{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% assign first_page_path = paginator.first_page_path | default: site.paginate_path | replace: 'page:num', '' | replace: '//', '/' | relative_url %}
  <ul>
    {% comment %} Previous Page Link {% endcomment %}
    {% if paginator.previous_page %}
      <li><a aria-label="previous_page" href="{{ paginator.previous_page_path | default: first_page_path }}"><i class="fa fa-chevron-left"></i></a></li>
    {% else %}
      <li><a aria-label="previous_page" href="#" class="disabled"><i class="fa fa-chevron-left"></i></a></li>
    {% endif %}

    {% comment %} Calculate pagination boundaries {% endcomment %}
    {% assign total_pages = paginator.total_pages %}
    {% assign current_page = paginator.page %}
    {% assign window_size = 3 %} {% comment %} Shows 5 total: 1 + 3 middle + last {% endcomment %}
    {% assign half_window = (window_size | minus: 1) | divided_by: 2 %} {% comment %} Pages shown on each side of current {% endcomment %}
    
    {% comment %} Determine start and end pages with fixed window {% endcomment %}
    {% if total_pages <= 5 %}
      {% assign start_page = 2 %}
      {% assign end_page = total_pages | minus: 1 %}
    {% else %}
      {% assign start_page = current_page | minus: half_window %}
      {% assign end_page = current_page | plus: half_window %}
      
      {% comment %} Adjust if too close to start {% endcomment %}
      {% if start_page < 2 %}
        {% assign start_page = 2 %}
        {% assign end_page = 4 %}
      {% endif %}
      
      {% comment %} Adjust if too close to end {% endcomment %}
      {% assign total_minus_one = total_pages | minus: 1 %}
      {% if end_page > total_minus_one %}
        {% assign end_page = total_pages | minus: 1 %}
        {% assign start_page = total_pages | minus: window_size %}
      {% endif %}
    {% endif %}
    
    {% comment %} First page {% endcomment %}
    <li>
      <a href="{% if current_page == 1 %}#{% else %}{{ first_page_path }}{% endif %}" 
         class="{% if current_page == 1 %}disabled current{% endif %}">1</a>
    </li>
    
    {% comment %} Middle pages {% endcomment %}
    {% if total_pages > 1 %}
      {% for index in (start_page..end_page) %}
        <li>
          <a href="{% if index == current_page %}#{% else %}{{ site.paginate_path | replace: ':num', index | relative_url }}{% endif %}" 
             class="{% if index == current_page %}disabled current{% endif %}">{{ index }}</a>
        </li>
      {% endfor %}
    {% endif %}
    
    {% comment %} Last page {% endcomment %}
    {% if total_pages > 1 %}
      <li>
        <a href="{% if current_page == total_pages %}#{% else %}{{ site.paginate_path | replace: ':num', total_pages | relative_url }}{% endif %}" 
           class="{% if current_page == total_pages %}disabled current{% endif %}">{{ total_pages }}</a>
      </li>
    {% endif %}

    {% comment %} Next Page Link {% endcomment %}
    {% if paginator.next_page %}
      <li><a aria-label="next_page" href="{{ paginator.next_page_path }}"><i class="fa fa-chevron-right"></i></a></li>
    {% else %}
      <li><a aria-label="next_page" href="#" class="disabled"><i class="fa fa-chevron-right"></i></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
