/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }

    nav {
      z-index: 10;
      border-radius: $border-radius;
    }

    a {
      text-decoration: none;
    }

    ul {
      list-style-type: none;
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1em;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: $type-size-4;
  font-weight: bold;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

/* 禁止文字換行 */
.site-title a {
  white-space: nowrap; 
}

.site-subtitle a {
  white-space: nowrap; 
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

.greedy-nav a {
  white-space: nowrap;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0;

  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;

  padding-right: 1em;
  font-weight: 700;
}

.navbar .links {
  display: flex;
  /*place the links in a row*/
  gap: 0.2rem;
}

.navbar #menu_btn {
  display: none;
  /*hide the toggle button*/
}

/* Dropdown menu */
.dropdown_menu {
  position: fixed;
  left: 0;
  width: 100%;
  top: 90px;
  background: $background-color;
  opacity: 0.95;
  backdrop-filter: blur(15px);
  overflow: hidden;
  height: 0;
  transition: height 0.5s cubic-bezier(.25, 1, .30, 1);
}

.dropdown_menu li {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.dropdown_menu a {
  display: block;
  padding: 5px 20px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown_menu.open {
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dropdown_menu.open li {
  visibility: visible;
}

.dropdown_menu.open a {
  opacity: 1;
  transform: translateY(0);
}

// Theme toggle button
.head_btn {
  width: 1em;
  padding-right: 0px;
  margin-left: 2rem;
  font-size: $type-size-4;
}

#theme_btn {
  display: flex;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

#theme_btn svg {
  width: 24px;
  height: 24px;
  fill: $text-color;
}

/* Media queries remain the same */
@media(min-width: $medium) {
  .navbar #menu_btn {
    display: none;
  }
}

@media(max-width: $medium) {
  .navbar .links {
    display: none;
  }

  .navbar #menu_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
    left: 0;
    width: 100%;
  }
}