/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }

    nav {
      z-index: 10;
      border-radius: $border-radius;
    }

    a {
      text-decoration: none;
    }

    ul {
      list-style-type: none;
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1em;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: $type-size-4;
  font-weight: bold;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

/* 禁止文字換行 */
.site-title a {
  white-space: nowrap; 
}

.site-subtitle a {
  white-space: nowrap; 
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

.greedy-nav a {
  white-space: nowrap;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0;

  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;

  padding-right: 1em;
  font-weight: 700;
}

.navbar .links {
  display: flex;
  gap: 0.2rem;
}

/* Head Button */
.head_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  margin-left: 1.5rem;
  cursor: pointer;
  width: 25px;
  padding: 0;
}

.head_btn svg {
  fill: var(--text-color);
  width: 100%;
  height: auto;
}

.head_btn:focus,
.head_btn:active {
  outline: none;
  box-shadow: none;
  background: none;
}

/* Dropdown menu */
.dropdown_menu {
  display: none;
  position: fixed;
  top: 90px;
  width: 100%;
  left: 0;
  height: calc(100vh - 90px);
  background: var(--background-color);
  padding-bottom: 4rem;
  flex-direction: column;
  justify-content: space-evenly;
}

.dropdown_menu.open {
  display: flex;
  animation: fadeIn 0.6s forwards;
  a {
    animation: fadeInLink 0.9s forwards;
  }
}

.dropdown_menu.close {
  display: flex;
  animation: fadeOut 0.9s forwards;
  a {
    animation: fadeOutLink 0.9s forwards;
  }
}

.dropdown_menu a {
  // First load, hidden
  opacity: 0; 
  transform: translateY(60px);

  // Common
  display: block;
  padding: 5px 20px;
  width: 100%;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeInLink {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutLink {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(60px);
  }
}

/* Media queries remain the same */
@media(min-width: $medium) {
  .navbar #menu_btn {
    display: none;
  }
}

@media(max-width: $medium) {
  .navbar .links {
    display: none;
  }

  .navbar #menu_btn {
    display: block;
  }
}